/* header*/
.header {
  height: var(--height-header);
}

.header-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
  align-items: center;
  gap: 14px;
}

/*end header */

/*banner*/
.banner {
  max-width: 100%;
  width: 100%;
  height: 721.01px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* endbanner*/

/* form search*/
.form-search {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 40px;
}

.form-search__input {
  width: 100%;
  position: relative;
  height: 50px;
  background-color: #fff;
  backdrop-filter: blur(2px);
  border-radius: 8px;
  padding: 15.5px 18px;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.form-search__input input {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  border-color: transparent;
}

.form-search__option {
  width: 271px;
  height: 50px;
  border-radius: 8px;
  flex-shrink: 0; /*không bị bóp chiều rộng*/
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 12px;
  background-color: #fff;
  padding: 0 20.5px;
}

.search__option--select {
  width: 100%;
  height: 100%;
  border-color: transparent;
  color: var(--text-grey);
}

.btn-search {
  border: none;
  outline: none;
}
/*end form search*/

/*suggest list*/
.suggest-wrap {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  gap: 12px;
  font-size: 14px;
  margin-top: 16px;
}
.suggest-list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.suggest-item {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 4px 8px;
  font-weight: 400;
}
/* end suggest list*/

/* job-wrap */
.job-wrap {
  margin-top: 76.99px;
}

.job-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 67px;
}

.job-heading-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 9px;
}

.job-heading__iconWrap {
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 12.3421px 30px rgba(0, 0, 0, 0.08);
}
.job-heading__icon {
  width: 52.89px;
  height: 52.89px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.job-heading__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  color: var(--text-heading);
}

.job-header__link {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

/* end job-wrap */

/* job card list */
.job-card__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 40px;
}

.job-card__item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid transparent;
  padding: 16px;
  border-radius: 16px;
  transition: linear 0.2s;
  gap: 8px;
}

.job-card__item:hover {
  box-shadow: 0px 16px 50px rgba(0, 0, 0, 0.08);
  border-color: var(--primary-color);
}

.job-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--text-light-grey);
}

.job-card__heading {
  display: flex;
  gap: 8px;
}

.job-card__heading img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}
.job-card__heading--name {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  letter-spacing: 0.015em;

  color: #171717;
}

.job-card__time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #021a84;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--primary-color);
}

.job-card__body {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.job-card__priceItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.job-card__body::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--text-light-grey);
  width: 1px;
  height: 16px;
}

.job-card__priceText {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-heading);
}
.job-card__priceNum {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #171717;
}
.job-card__priceNum span {
  font-weight: 300;
  color: var(--text-grey);
}

.job-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-card__footerLeft {
  display: flex;
  gap: 16px;
}

.job-card__tag {
  padding: 4px 16px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-heading);
}

.job-card__footerRight {
  background: #fe4c4c;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

/* end job card list */

/* introduction */
.intro-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.intro-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-heading--eng {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--primary-color);
}

.intro-heading--vie {
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  color: var(--text-heading);
}

.intro-body {
  display: flex;
  margin-top: 40px;
  gap: 32px;
}

.intro-card {
  display: flex;
  max-width: 33%;
  min-width: 31%;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 16px;
  background: var(--bg--green-gradient);
  border-radius: 16px;
}

.intro-card:nth-child(1) {
  background: var(--bg--green-gradient);
  color: var(--text--green-gradient);
}
.intro-card:nth-child(2) {
  background: var(--bg--purple-gradient);
  color: var(--text--purple-gradient);
}
.intro-card:nth-child(3) {
  background: var(--bg--red-gradient);
  color: var(--text--red-gradient);
}

.intro-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.intro-card__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
/* end introduction */

.partner-wrap,
.process-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  gap: 40px;
  width: 100%;
}

.partner-list {
  display: flex;
  gap: 60px;
}

.partner-item {
  width: 156px;
  height: 156px;
  padding: 8px;
  background-color: #fff;
  border-radius: 16px;
}

.partner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.process-list {
  display: flex;
  width: 100%;
}

.process-header,
.process-step,
.process-step__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-list {
  display: flex;
  justify-content: space-between;
}

.process-step {
  gap: 16px;
  min-width: 31%;
}

.process-step__body {
  gap: 8px;
}
.process-step__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-black);
}

.process-step__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

/* sub banner  */
.sub-banner-wrap {
  margin-top: 80px;
  background: linear-gradient(220.53deg, #0cc64b 0%, #26ab5b 76.95%);
  border-radius: 20px;
  padding: 26px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #fff;
  height: 119px;
}

.sub-banner-wrap::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 119px;
  width: 223px;
  background: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sub-banner__left {
  display: flex;
  gap: 16px;
}

.btn--signup {
  outline: none;
  border: none;
}
/* end sub banner  */

/* footer  */
.footer {
  margin-top: 40px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #021a84;
  padding-top: 40px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.footer-form__email {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-form__email input {
  height: 100%;
  width: 252px;
  padding: 15px 16px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 8px;
}

.btn--send {
  border: none;
  outline: none;
}

.footer-amount {
  display: flex;
  gap: 32px;
}

.footer-amount__jobs,
.footer-amount__company {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-amount__jobs,
.footer-amount__company span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-grey);
}

.footer-aboutMe {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--text-light-grey);
}

.footer-col {
  display: flex;
  flex-direction: column;
  max-width: 28%;
}

.footer__link img {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--text-light-grey);
}

.footer-social {
  display: flex;
  gap: 23.8px;
  margin-top: 8px;
}

.footer-social img {
  width: 28px;
  height: 28px;
  object-fit: cover;
}

.footer__infor {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-grey);
  word-wrap: break-word;
}

.footer-bottom {
  height: 175px;
  display: flex;
  justify-content: center;
}

.footer-bottom span {
  margin-top: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-grey);
}
/* end footer  */
